body {
    font-family: 'Poppins', sans-serif;
}

.headerHome {
    display: flex;
    justify-content: center;
    background-color: #234E70;

    
}

  .flex-container {
    background-color: #234E70;
    padding: em;
    font-size: 1em;
  }

  .row {
    /*width: 10vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
  }
   

   .row > a {
    color: white;
    text-decoration: none;
  }

  .row > a:hover {
    color: black;
  }
